<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
<link rel="stylesheet" type="text/stylesheet" href="/static/css/bootstrap-readable.min.css"/>

<link rel="stylesheet" type="text/stylesheet" href="/static/css/syntax.css"/>
<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
<link rel="stylesheet" type="text/stylesheet" href="/static/css/styles.css"/>

<title>{{ page.title }}</title>